ion-content {
    font-size: 16px; /* Puedes ajustar esto según tus preferencias*/ 
}

.cont-dat{
    margin-top: 2rem;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}

.cont-act{
    margin-top: 2rem;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}