<app-header titulo="Asignatura 1"></app-header>


<ion-content>
  <ion-list>
    <ion-item button >
      <ion-label>Clase 1 Estado:</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>Clase 2</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>Clase 3</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>Clase 4</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>Clase 5</ion-label>
    </ion-item>
    <ion-item button>
      <ion-label>Clase 6</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
