<app-header titulo="Tus asignaturas"></app-header>


<ion-content>
  <ion-accordion-group (ionChange)="accordionGroupChange($event)">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Asignatura 1</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"><ion-datetime locale="es-ES"></ion-datetime></div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Asignatura 2</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Asignatura 3</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
