ion-content {
    font-size: 16px; /* Puedes ajustar esto según tus preferencias*/ 
}

.cont-dat{
    margin-top: 2rem;
    margin-left: 1.7rem;
    margin-right: 1.7rem;
}

p{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.info{
    font-size: 1.1rem;
}
