<app-header titulo="Informacion Academica"></app-header>

<ion-content>
  <div>
    <div class="cont-dat">
      <ion-item color="light" >
        <ion-label>
          <p style="color: grey;">Periodo Academico</p>
          <h2 class="info">Primavera 2023</h2>
        </ion-label>
      </ion-item>
      <ion-item color="light">
        <ion-label>
          <p style="color: grey;">Carrera</p>
          <h2 class="info">Ingenieria En Informatica</h2>
        </ion-label>
      </ion-item>
      <ion-item color="light">
        <ion-label>
          <p style="color: grey;">Sede</p>
          <h2 class="info">Concepcion</h2>
        </ion-label>
      </ion-item>
      <ion-item color="light">
        <ion-label>
          <p style="color: grey;">Jornada</p>
          <h2 class="info">Diurna</h2>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>