<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="titl-heade">Asistapp</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-text-center">
  <div class="cont-general">
    <div>
      <ion-text class="inic">
        <p>Inicio Profesor</p>
      </ion-text>
    </div>

    <div class="registro-btn">
      <ion-button (click)="navegar('profe-qr')" expand="block">
        <ion-icon name="qr-code-outline" style="margin-right: 10px; font-size: 1.5rem;"></ion-icon>QR</ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="myColor">
    <div class="cont-footer">
      <ion-button (click)="navegar('profe')" class="foot-btn" fill="clear" expand="large">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="navegar('profe-sesion')" class="foot-btn" fill="clear" expand="large">
        <ion-icon name="settings" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>