.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Esto asegura que el contenedor ocupe toda la altura de la pantalla */
}

.cont-head {
    margin-top: 4vh;
    margin-bottom: 3vh;
}

.new-background-color {
    --background: #8E9FF9;
}

.titl-heade {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: white;
}

.cont-txtini {
    margin-top: 80px;
    margin-bottom: 60px;
}

.cont-general {
    margin-top: 20vh;
}

.inic {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registro-btn {
    margin-bottom: 8%;
    align-items: center;
    justify-content: center;
}

.cont-footer {
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.foot-btn {
    margin-left: 18px;
    margin-right: 18px;
    font-size: 120%;
}

.myColor{
    --background: #8E9FF9
}

ion-button{
    --color: white;
}