<ion-header>
  <ion-toolbar>
    <ion-button (click)="navegar('login')">
      <ion-icon slot="start" name="arrow-back-circle-outline" size="large" style="color: black;"></ion-icon>
    </ion-button>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div style="padding: 65% 5%;">
    <ion-card>
      <form>
        <ion-item lines="full" class="inputs">
          <ion-label position="floating">Contraseña nueva</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full" class="inputs">
          <ion-label position="floating">Repetir Contraseña</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" shape="round"
              expand="block">Cambiar</ion-button><!-- al ingresar el correo levantar alerta de confirmacion -->
            <!-- (click)="navegar('code-in')" -->
          </ion-col>
        </ion-row>
      </form>
    </ion-card>
  </div>
</ion-content>