<ion-header style="background: #8E9FF9">
  <div class="cont-head">
    <ion-toolbar class="new-background-color">
      <ion-title class="titl-heade">
        Asistapp
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>


<ion-content class="fond">
  <div class="cont">
    <ion-card>
      <h3><b>Inicio de Sesion</b></h3>
      <div class="cont-inpt">
        <form [formGroup]="loginForm" (ngSubmit)="signUp()">
          <ion-item>
            <ion-label position="floating">correo </ion-label>
            <ion-input name="correo" type="text" formControlName="correo"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">contraseña </ion-label>
            <ion-input name="contrasena" type="password" formControlName="contrasena"></ion-input>
          </ion-item>
          
          <ion-row>
            <ion-col class="cont-btn">
              <ion-button (click)="signUp()" class="btn-log" 
                style="font-size: 2vh; color: rgb(0, 0, 0);"><b>Login</b></ion-button>
              <br>
              <a (click)="navegar('valid-data-rec')" class="small-text rec-contr">Recuperar contraseña</a>
              <br>
              <a (click)="navegar('registrarce')" class="small-text rec-contr">Registrarce</a>
            </ion-col>
          </ion-row><!-- [disabled]="loginForm.invalid" -->
        </form>
      </div>
    </ion-card>
  </div>
</ion-content>