<app-header titulo="Escaner"></app-header>


<ion-content>
  <div>
    <div class="cont-qr">
      <ion-button fill="clear">
        <ion-icon name="qr-code-outline" style="font-size: 15rem;"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="myColor">
    <div class="cont-footer">
      <ion-button (click)="navegar('profe')" class="foot-btn" fill="clear" expand="large">
        <ion-icon slot="icon-only" name="home" style="color: white;"></ion-icon>
      </ion-button>
      <ion-button (click)="navegar('profe-sesion')" class="foot-btn" fill="clear" expand="large">
        <ion-icon  name="settings" slot="icon-only" style="color: white;"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>