ion-content {
    font-size: 16px;
}

.cont-qr {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-footer {
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.foot-btn {
    margin-left: 18px;
    margin-right: 18px;
    font-size: 120%;
}

.myColor{
    --background: #8E9FF9
}
