<app-header titulo="Escaner"></app-header>


<ion-content>
  <!-- <div>
    <div class="cont-qr">
      <ion-button (click)="presentAlert()" fill="clear">
        <ion-icon name="qr-code-outline" style="font-size: 15rem;"></ion-icon>
      </ion-button>
    </div>
  </div> -->
  <!--<ion-list>
    <ion-item *ngFor="let item of categorias" >
      <ion-label>{{item.strCategory}}</ion-label>
    </ion-item>
  </ion-list> revisar video de codeXpression build an iionic 7 angular app - firebase authentication  -->
  <div>
    <div>
      <ion-button (click)="scan()" expand="block" fill="clear" shape="round" style="margin-top: 8%;">
        Escanear
      </ion-button>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>