<ion-header style="background: #8E9FF9">
  <div class="cont-head">
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
      <ion-title class="titl-heade">
        Registrarse
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content class="fond">
  <div class="cont-inpt">
    <ion-card>
      <h3 style="margin-top: 1rem;">Registro</h3>
      <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

        <!-- Name -->
        <app-custom-input 
        autocomplete="name"
        icon="person-outline"
        [control]="form.controls.name"
        type="text"
        label="Nombre"
        ></app-custom-input>
  
        <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched " >
          <div *ngIf="form.controls.name.errors?.['required']" > El nombre es requerido</div>
          <div *ngIf="form.controls.name.errors?.['minlenght']" > El nombre debe tener al menos 4 caracteres</div>
        </div>
  
        <!-- email -->
        <app-custom-input 
        autocomplete="email" 
        icon="mail-outline" 
        [control]="form.controls.email" 
        type="email"
        label="Correo"></app-custom-input>

      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched ">
        <div *ngIf="form.controls.email.errors?.['required']"> El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']"> Ingrese un correo valido</div>
      </div>


      <!-- password -->
        <app-custom-input 
        [control]="form.controls.password"
        icon="lock-closed-outline"
        type="password"
        label="Contraseña"
        ></app-custom-input>
  
        <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched " >
          <div *ngIf="form.controls.email.errors?.['required']" >La contraseña es requerida</div>
          <div *ngIf="form.controls.email.errors?.['minLength']">La contraseña es corta</div>

        </div>
  
        <!-- {{form.value | json}} -->
  
        <ion-button expand="block" fill="clear" class="submit btn-log" type="submit" [disabled]="form.invalid">
          registrarse
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-button>
        
      </form>
    </ion-card>
  </div>
</ion-content>