<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Registro</h1>

  <form [formGroup]="regForm" novalidate>
    <ion-item>
      <ion-label position="floating">nombre </ion-label>
      <ion-input name="nombre" type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <div *ngIf="this.regForm.controls?.['nombre'] && this.regForm.controls?.['nombre'].invalid">
      <ion-text>
        El nombre es requerido
      </ion-text>
    </div>
    <br>
    <ion-item>
      <ion-label position="floating">correo </ion-label>
      <ion-input name="correo" type="text" formControlName="correo"></ion-input>
    </ion-item>
    <div *ngIf="this.regForm.controls?.['correo'] && this.regForm.controls?.['correo'].invalid">
      <ion-text> <!-- *ngIf="errorControl.correo.errors?.required" --> <!-- No funciona el ngIf -->
        El Correo es requerido
      </ion-text>
    </div>
    <br>
    <ion-item>
      <ion-label position="floating">contraseña </ion-label>
      <ion-input name="contrasena" type="password" formControlName="contrasena"></ion-input>
    </ion-item>
    <div *ngIf="this.regForm.controls?.['contrasena'] && this.regForm.controls?.['contrasena'].invalid">
      <ion-text> <!-- *ngIf="regForm.controls['contrasena'].hasError('pattern')" -->  <!-- No funciona el ngIf -->
        La contraseña es invalida
      </ion-text>
    </div>
    <br>

    <!-- <ion-item>
      <ion-label position="floating">contraseña </ion-label>
      <ion-input required name="contrasena2" type="password" ></ion-input>
    </ion-item> -->
    <ion-button block color="primary" (click)="signUp()" >
      Login
    </ion-button>
  </form>
</ion-content>
