.cont-head {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.new-background-color {
    --background: #8E9FF9;
}

.titl-heade {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

ion-content.fond{
    --ion-background-color: #8360c3;
    /* fallback for old browsers */
    --ion-background-color: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
    /* Chrome 10-25, Safari 5.1-6 */
    --ion-background-color: linear-gradient(to right, #2ebf91, #8360c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.cont {
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-left: 2vh;
    margin-right: 2vh;

}

.cont-inpt {
    margin-top: 1rem;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}

ion-card{
    --ion-background-color: white;
    --color: rgb(0, 0, 0);

    border: #000;
    border-radius: 5%;
    border-style: solid;
    border-width: 0.29vh;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.btn-log {
    --background: rgb(0, 213, 255);
    --color: rgb(0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5.5vh;
    margin-right: 5.5vh;

    --border-radius: 50px;
    --border-color: #000;
    --border-style: solid;
    --border-width: 0.29vh;

    --padding-bottom: 1vh;
}

.cont-btn {
    margin-top: 3vh;
    margin-bottom: 3vh;
}